@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular */
@font-face {
  font-family: "FontCustom";
  src: url("/src/assets/fonts/FWC2026-NormalRegular.woff2") format("woff2");
  font-weight: 400;
  font-stretch: 100%;
  font-style: normal;
  font-display: swap;
}

/* Black */
@font-face {
  font-family: "FontCustom";
  src: url("/src/assets/fonts/FWC2026-NormalBlack.woff2") format("woff2");
  font-weight: 900;
  font-stretch: 100%;
  font-style: normal;
  font-display: swap;
}

/* Expanded Black */
@font-face {
  font-family: "FontCustom";
  src: url("/src/assets/fonts/FWC2026-ExpandedBlack.woff2") format("woff2");
  font-weight: 900;
  font-stretch: 125%;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-glow: radial-gradient(rgba(1, 65, 255, 0.204), rgba(1, 65, 255, 0));

  --right-glow: radial-gradient(rgba(213, 1, 255, 0.234), rgba(162, 1, 255, 0));
  --secondary-glow: linear-gradient(
    to bottom right,
    rgba(1, 65, 255, 0.141),
    rgba(1, 65, 255, 0.164),
    rgba(1, 65, 255, 0.138)
  );
  --secondary-right-glow: linear-gradient(
    to bottom right,
    rgba(116, 121, 16, 0.124),
    rgba(225, 219, 37, 0.148),
    rgba(195, 249, 1, 0.467)
  );
}

.glow-left::before {
  background: var(--secondary-glow);
  border-radius: 10%;
  width: 300px;
  height: 250px;
}

.glow-left::after {
  background: var(--primary-glow);
  width: 700px;
  height: 550px;
  transform: rotate(-50deg);
  border-radius: 20%;
  color: #ff4848;
}

.glow-left::before,
.glow-left::after {
  content: "";
  left: -150px;
  bottom: -150px;
  position: fixed;
  filter: blur(45px);
  transform: translateZ(0);
}

.glow-right::before {
  background: var(--secondary-right-glow);
  width: 650px;
  height: 450px;
}

.glow-right::after {
  border-radius: 100%;
  background: var(--right-glow);
  width: 50px;
  height: 50px;
}

.glow-right::before,
.glow-right::after {
  content: "";
  right: -150px;
  top: 100px;
  position: fixed;
  filter: blur(60px);
  transform: translateZ(0);
  transform: rotate(-10deg);
}

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 639px) {
  .bg-cnc {
    background-image: url("./assets/fondocnc.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .bg-loader {
    background: radial-gradient(
        ellipse farthest-corner at right bottom,
        #1a237e 0%,
        #1a237e 40%,
        #1a0883 70%,
        #09053c 100%
      ),
      radial-gradient(
        ellipse farthest-corner at left top,
        #e0baff 0%,
        #9b6fd5 40%,
        #5f34b4 80%,
        #1a237e 100%
      );
  }

  .bg-home {
    background: radial-gradient(
        ellipse farthest-corner at right bottom,
        #1a237e 0%,
        #1a237e 40%,
        #1a0883 70%,
        #09053c 100%
      ),
      radial-gradient(
        ellipse farthest-corner at left top,
        #e0baff 0%,
        #9b6fd5 40%,
        #5f34b4 80%,
        #1a237e 100%
      );
  }
}
